.tableofcontents{
  border: 1px solid #d1d5db;
  margin-top: 16px;
  background: #fff;
  border-radius: 5px;
  padding: 16px;
}

.tableofcontents ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.tableofcontents ul li:not(:last-child){
  margin-bottom: 8px;
}

.tableofcontents ul li:first-child{
  margin-top:8px; 
}

.header{
  border-bottom: 1px solid #d1d5db;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.headertitle{
  font-size: 18px;
}