.row{
  display: flex;
  margin: 8px !important;
}
.appbar{
  margin-bottom: 16px;
}
.bloglistitem{
  /* margin-bottom: 16px; */
  margin-bottom: 8px;
}
.bloglistcontent{
  padding-bottom: 12px !important;
  padding: 12px !important;
}
.bloglisttitle{
  font-size: 16px !important;
}
.blogchip{
  margin-top: 8px;
  /* margin-bottom: 8px; */
}
.bloglistitem:hover{
  background: #fdfdfd;
}
.bloglistitema{
  text-decoration: none !important;
}
.blogexcerpt{
  opacity: 0.8;
  padding-top: 0px;
}
