.blog{
  background: #fff;
  padding: 16px;
  border-radius: 5px;
  margin: 16px;
  border: 1px solid #d1d5db;
}
.tableOfContents{
  background: #fff;
  border-radius: 5px;
  margin: 16px;
  border: 1px solid #d1d5db;
}